$border-blue: #7f8fa6;
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	background: #ccc;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
.container {
	display: grid;
	grid-template-areas: "left main";
	grid-template-columns: 300px 1fr;
	width: 100%;
}
main {
	grid-area: main;
	min-width: 300px;
	padding: 25px;
	background: #f5f6fa;
	color: #2f3640;
	.main-section {
		margin-bottom: 30px;
		header {
			font-size: 1.5em;
		}
		p {
			font-size: 1em;
			max-width: 70%;
		}
		.list {
			li {
				line-height: 1.5em;
			}
		}
		.code-container{
			margin-top: 20px;
			border: none;
			padding: 20px;
			margin: 10px;
			background: #ecf0f1;
			border-radius: 4px;
			margin-top: 20px;
			code {
				display: block;
				white-space: normal;
				font-style: italic;
				word-wrap: break-word;
				text-align: left;
			}
		}
		.highlight {
			padding: 25px;
			background: rgba(243, 156, 18, 0.5);
			border-left: 5px solid #e67e22;
			font-weight: bold;

		}
		hr {
			border: 0;
			height: 1px;
			background: #333;
			background-image: linear-gradient(to right,#333, #ccc, #333);
			opacity: 0.2;
			margin: 20px 0;
			
		}
	}
}
.left-slider {
	position: fixed;
	min-width: 300px;
	background: #ccc;
	grid-area: left;
	border-right: 3px solid $border-blue;
	#navbar {
		overflow-y: auto;
		overflow-x: hidden; 
		min-height: 200px;
		height: 90%;
			header {
			font-size: 1.7em;
			margin: 10px;
			text-align: center;
			line-height: 32px;
		}
	}
}
#navbar {
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
			padding: 10px 30px;
			border-top: 2px solid $border-blue;
			&:hover {
				background: #2f3542;
				a {
					color: #f1f1f1;
				}			
			}
			a {
				text-decoration: none;
				color: #000000;
			}
		}
		li:last-child {
			border-bottom: 2px solid $border-blue;
		}
	}

}
@media (max-width: 767px) {
	.container {
		grid-template-areas: 
		"left"
		"main";
		grid-template-columns: 1fr;
		width: 100%;
		padding: 0 10px;
		background: #f5f6fa;
	}
	main {
		margin-top: 260px;
	}
	.left-slider {
		position: fixed;
		top: 0;
		width: 100%;
		border: none;
	}
	#navbar {
	ul {
		li {
			padding: 10px 30px;
			border-left: 2px solid $border-blue;
			border-right: 2px solid $border-blue;
			&:active {
				background: #2f3542;
				a {
					color: #f1f1f1;
				}			
			}
		}
	}

}

}
