$border-blue: #7f8fa6;
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	background: #ccc;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
.container {
	display: grid;
	grid-template-areas: "left main";
	grid-template-columns: 300px 1fr;
	width: 100%;
}
main {
	grid-area: main;
	height: 100vh;
	min-width: 300px;
	padding: 25px;
	background: #f5f6fa;
	color: #2f3640;
	.main-section {
		margin-bottom: 30px;
		header {
			font-size: 1.5em;
		}
		p {
			font-size: 1em;
			max-width: 70%;
		}
		.list {
			li {
				line-height: 1.5em;
			}
		}
		hr {
			border: 0;
			height: 1px;
			background: #333;
			background-image: linear-gradient(to right, #ccc, #333, #ccc);
			opacity: 0.2;
			width: 70%;
			margin: 20px 0;
			
		}
	}
}
.left-slider {
	height: 100vh;
	background: #ccc;
	grid-area: left;
	border-right: 3px solid $border-blue;
	header {
		font-size: 1.7em;
		margin: 10px;
		text-align: center;
		line-height: 32px;
	}
	#navbar {
		overflow-y: auto;
		overflow-x: hidden; 
		min-height: 200px;
		height: 90%;
	}
}
#navbar {

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
			padding: 10px 30px;
			border-top: 2px solid $border-blue;
			a {
				text-decoration: none;
				color: #000000;
			}
		}
		li:last-child {
			border-bottom: 2px solid $border-blue;
		}
	}

}
