*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	background: #ccc;
}
.container {
	display: grid;
	grid-template-areas: "left main";
	grid-template-columns: 300px 1fr;
	width: 100%;
}
main {
	grid-area: main;
	height: 100vh;
	min-width: 300px;
	padding: 25px;
	background: #dcdde1;
	color: #2f3640;
	.main-section {
		header {
			font-size: 25px;
			font-weight: 700;
		}
		p {
			font-size: 16px;

		}
	}
}
.left-slider {
	height: 100vh;
	background: #ccc;
	grid-area: left;
	border-right: 3px solid #7f8fa6;
	header {
		font-size: 28px;
		margin: 10px;
		text-align: center;
		line-height: 32px;
	}
	#navbar {
		overflow-y: auto;
		overflow-x: hidden; 
		min-height: 200px;
		height: 90%;
	}
}
#navbar {

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
			padding: 10px 30px;
			border-top: 2px solid #7f8fa6;
			a {
				text-decoration: none;
				color: #000000;
			}
		}
		li:last-child {
			border-bottom: 2px solid #7f8fa6;
		}
	}

}
